html,body{
  height:100%;
  width:100%;
  font-family:sans-serif;

}
.navbar{

  background-color: #FFFFFF;
  font-size:1.1em;
  font-family:Trebuchet MS;
}
.navbar-brand{
   
  padding:0px 0px 5px 50px;
}
#brand-image{
  height:60px;
  border-right: 0.5px solid;
  border-color:#FFFFFF;

}
.dropdown{
  position:relative;
}

#myNavbar.dropdown-menu{
  display:none;

  position:absolute;
  box-shadow:2px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:1;
}

#myNavbar .dropdown:hover .dropdown-menu{
  display:block;
  background-color:pink;
}

#myNavbar {
  padding-left:20px;
}
#myNavbar li a{
 padding:25px 30px;
  
  color:#000000;
   font-weight:bold;
}
#myNavbar li a:hover{
   color:#000000;
  background-color: #87CEEB;
}
#reg li a{
padding:25px 0px 25px 40px;
  color:#000000;
   font-weight:bold;
}
.text{
    color: black;
}


#sign{
  padding-right:80px;
  border-right: 0.5px solid;
  border-color:#FFFFFF;
  color:#000000;


}

@media (max-width: 1200px) {
#brand-image{
  height:50px;
  padding-left:0px;
  border-right: 0.5px solid;
  border-color:#FFFFFF;
}

}
@media (max-width: 700px) {
#brand-image{
  height:40px;
  padding-left:0px;
  border-right: 0.5px solid;
  border-color:#FFFFFF;
}

}
#article{
    display: flex;
    flex-direction: row;
    height:300px;
    margin-top: 20px;
}
.col-sm-4{
height:300px;
width:350px;
border-radius: 40px;
margin-top: 10px;
margin-left: 100px;
}
.tableimage1{
    width:200px;
    height:100px; 
    margin-top: 20px;
    margin-left:80px;}
.text1{margin:10px;}
h4{text-align: center;}
.col-sm-4:hover{background-color: lightgrey;
opacity:0.8;}

#footer{
    display: flex;
    flex-direction: row;
    height:300px;
    margin-bottom: 0px;
    background-color: black;   
    }
    .col-sm-12{
    height:250px;
    border-radius: 40px;
    margin-top: 10px;
    color: white;
    }
    .tablefooter{width:300px;
    margin: 50px;
    margin-left:1050px;
    }
    .tableimage2{
        width:250px;
        height: 50px;
        margin-left: 100px;
        margin-top: -300px;
    }
    .dropbtn {
      background-color: #87CEEB;
      color: black;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      margin-top:10px;
    }
    
    .dropbtn:hover, .dropbtn:focus {
      background-color: #6e9dbd;
    }
    
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      overflow: auto;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown a:hover {background-color: #ddd;}
    
    .show {display: block;}
    